In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("/Users/tristanmoser/Files/Coding/Machine_Learning/Project/ted_main.csv")

In [3]:
len(data['main_speaker'].unique())

2156

In [4]:
data.head(1)

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110

In [5]:
data['ratings'][0]

"[{'id': 7, 'name': 'Funny', 'count': 19645}, {'id': 1, 'name': 'Beautiful', 'count': 4573}, {'id': 9, 'name': 'Ingenious', 'count': 6073}, {'id': 3, 'name': 'Courageous', 'count': 3253}, {'id': 11, 'name': 'Longwinded', 'count': 387}, {'id': 2, 'name': 'Confusing', 'count': 242}, {'id': 8, 'name': 'Informative', 'count': 7346}, {'id': 22, 'name': 'Fascinating', 'count': 10581}, {'id': 21, 'name': 'Unconvincing', 'count': 300}, {'id': 24, 'name': 'Persuasive', 'count': 10704}, {'id': 23, 'name': 'Jaw-dropping', 'count': 4439}, {'id': 25, 'name': 'OK', 'count': 1174}, {'id': 26, 'name': 'Obnoxious', 'count': 209}, {'id': 10, 'name': 'Inspiring', 'count': 24924}]"

In [6]:
ratings = ['Funny', 'Beautiful', 'Ingenious', 'Courageous', 'Longwinded', 'Confusing',
           'Informative', 'Fascinating', 'Unconvincing', 'Persuasive', 'Jaw-dropping', 'OK',
           'Obnoxious', 'Inspiring']

In [7]:
rate = []
def parse(x):
    for ll in range(len(data)):
        splitting = data['ratings'][ll].split(x)
        splitting2 = splitting[1].split(':')
        splitting3 = splitting2[1].split(" ")
        splitting4 = splitting3[1].split("}")
        rate.append(splitting4[0])
        series = pd.Series(rate)
        data[x] = series

In [8]:
for rating in ratings:
    parse(rating)
    rate.clear()

In [9]:
data[ratings].head()

,Funny,Beautiful,Ingenious,Courageous,Longwinded,Confusing,Informative,Fascinating,Unconvincing,Persuasive,Jaw-dropping,OK,Obnoxious,Inspiring
0,19645,4573,6073,3253,387,242,7346,10581,300,10704,4439,1174,209,24924
1,544,58,56,139,113,62,443,132,258,268,116,203,131,413
2,964,60,183,45,78,27,395,166,104,230,54,146,142,230
3,59,291,105,760,53,32,380,132,36,460,230,85,35,1070
4,1390,942,3202,318,110,72,5433,4606,67,2542,3736,248,61,2893

In [10]:
data['tags'].head()

0    ['children', 'creativity', 'culture', 'dance',...
1    ['alternative energy', 'cars', 'climate change...
2    ['computers', 'entertainment', 'interface desi...
3    ['MacArthur grant', 'activism', 'business', 'c...
4    ['Africa', 'Asia', 'Google', 'demo', 'economic...
Name: tags, dtype: object

In [11]:
tag = []
for tags in data['tags']:
    tag.append(tags)

In [12]:
import ast

In [13]:
data['tags'][9]

"['Christianity', 'God', 'culture', 'happiness', 'leadership', 'motivation', 'philanthropy', 'religion']"

In [14]:
ast.literal_eval(data['tags'][9])

['Christianity',
 'God',
 'culture',
 'happiness',
 'leadership',
 'motivation',
 'philanthropy',
 'religion']

In [15]:
stuff = data['tags']

In [17]:
destring = []
for number in range(len(stuff)):
    destring.append(ast.literal_eval(stuff[number]))

In [24]:
destring[9]

['Christianity',
 'God',
 'culture',
 'happiness',
 'leadership',
 'motivation',
 'philanthropy',
 'religion']

In [19]:
data['Tags'] = pd.Series(destring)

In [25]:
data['Tags'][9].count("Christianity")

1

In [21]:
all_tags = []
for weird in range(0,2550):
    fix = ast.literal_eval(tag[weird])
    all_tags.extend(fix)

In [22]:
all_series = pd.Series(all_tags)
len(all_series.unique())

416

In [23]:
data[['tags','Tags']].head()

,tags,Tags
0,"['children', 'creativity', 'culture', 'dance',...","[children, creativity, culture, dance, educati..."
1,"['alternative energy', 'cars', 'climate change...","[alternative energy, cars, climate change, cul..."
2,"['computers', 'entertainment', 'interface desi...","[computers, entertainment, interface design, m..."
3,"['MacArthur grant', 'activism', 'business', 'c...","[MacArthur grant, activism, business, cities, ..."
4,"['Africa', 'Asia', 'Google', 'demo', 'economic...","[Africa, Asia, Google, demo, economics, global..."

In [26]:
data['tags'][9].count("Christianity")

1

In [29]:
data['tags'][9].count('God')

1

In [46]:
data['children'] = lambda x: data['children'][x].count('children')

In [45]:
for tag in range(len(data)):
    if data['tags'][tag].count('children') >= 1:
        data['children'][tag] = 1
    else:
        data['children'][tag] = 0

/Applications/Anaconda/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Applications/Anaconda/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [38]:
data['children']

0       1
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      1
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
       ..
2520    0
2521    0
2522    0
2523    0
2524    0
2525    1
2526    0
2527    0
2528    0
2529    0
2530    0
2531    0
2532    0
2533    0
2534    0
2535    0
2536    0
2537    0
2538    0
2539    0
2540    0
2541    0
2542    0
2543    0
2544    0
2545    0
2546    0
2547    0
2548    0
2549    0
Name: children, Length: 2550, dtype: int64

In [40]:
data['tags'][2525]

"['TEDx', 'activism', 'children', 'family', 'poverty', 'social change']"

In [44]:
data.loc[:,('tags')][0]

"['children', 'creativity', 'culture', 'dance', 'education', 'parenting', 'teaching']"